In [3]:
# Dataset: Titanic (built into seaborn)
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import glm
import numpy as np
import pandas as pd

# Load data
titanic = sns.load_dataset('titanic')

# Task: Predict survival using logistic regression
# Features: age, fare, pclass, sex

# Check the features
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:

# TODO 1: Fit logistic regression
model = glm('survived ~ age + fare + pclass + sex', data=titanic, family=sm.families.Binomial()).fit()
print(model.summary())

# TODO 2: Interpret coefficients
coefficients = model.params
print("Coefficients:\n", coefficients)

# TODO 3: What's the odds ratio for being female vs male?
odds_ratio_female_vs_male = 1 / np.exp(coefficients['sex[T.male]'])
print("Odds ratio for being female vs male:", odds_ratio_female_vs_male)

# TODO 4: Predict probability for: male, age=30, pclass=3, fare=10
# Note that in statsmodels, .predict() returns probabilities by default for logistic regression
new_data = pd.DataFrame({'age': [30], 'fare': [10], 'pclass': [3], 'sex': ['male']})
probabilities = model.predict(new_data)
print("Predicted probability of survival for male, age=30, pclass=3, fare=10:", probabilities[0])

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                            GLM   Df Residuals:                      709
Model Family:                Binomial   Df Model:                            4
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -323.61
Date:                Fri, 17 Oct 2025   Deviance:                       647.23
Time:                        17:03:23   Pearson chi2:                     768.
No. Iterations:                     5   Pseudo R-squ. (CS):             0.3588
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       4.9880      0.572      8.717      0.000       3.867       6.110
sex[T.male]    -2.5182      0.208    -12.115      0.000      -2.926      -2.111
age            -0.0367      0.008     -4.780      0.000      -0.052      -0.022
fare            0.0005      0.002      0.246      0.805      -0.004       0.005
pclass         -1.2697      0.159     -8.005      0.000      -1.581      -0.959
===============================================================================
Coefficients:
 Intercept      4.988040
sex[T.male]   -2.518197
age           -0.036707
fare           0.000537
pclass        -1.269741
dtype: float64
Odds ratio for being female vs male: 12.406206349353212
Predicted probability of survival for male, age=30, pclass=3, fare=10: 0.08052572461021609